
{% block content %}
<h1> Lista de Clientes</h1>

<ul>
    {% for Lista in object_list %}
    <li>
        <a href="{% url 'Cliente_Creado' Lista.id %}">
            <h1>{{Lista.codigo}}</h1>
            <p>{{Lista.nombre }}</p>
            <p>{{Lista.sigla}}</p>
        </a>
    </li>
    <label for="exampleDataList" class="form-label">Datalist example</label>
    <input class="form-control" list={{Lista.cliente}} id="exampleDataList" placeholder="Escribe para buscar...">
    <datalist id={{Lista.cliente}}>
        <a href="{% url 'Cliente_Creado' Lista.id %}">
            <p>{{Lista.cliente}}</p>
        </a>
        <!-- <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago"> -->
    </datalist>
    {% endfor%}
</ul>
{% endblock %}