
{% extends 'Base.html' %}
{% block content %}
{{error}}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Crear Localidad </h3>
      </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Formulario predeterminado</h4>
            <p class="card-description">Diseño de formulario básico</p>
            {{error}}
            <form action="/clientes/crear/" method="POST"  class="forms-sample">
                {% csrf_token %}
                {{form.as_p}}
            <button type="submit" class="btn btn-success">
                Guardar
            </button>
            </form>
          </div>
        </div>
      </div>
</div>
{% endblock %}